h2{
    text-align: center;
}

.container {
    padding: 20px;
}

.card {
    border: 2px solid Black;
    margin: 0 auto;
    padding: 4em;
    width: 60%;
}
/* .chooseOpponent {
    border: 2px solid black;
    margin: 0 auto;
    width: 50%;
} */

.opponentNameButton{
    margin-bottom: 10px;
}

.opponentInput {
    margin-bottom: 20px;
}

.newOpponentButton {
    padding-left: 20px;
}

.goToStats {
    color: white;
}